<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <!-- start nav -->
    <nav class="nav">
        <div class="container">
            <div class="nav__container__parnav">
                <div class="nav__container__parnav__brand">
                    <img src="../static/images/logo.png" class="responsive nav__container__parnav__brand__respo" alt="logo" />
                </div>
                <ul>
                    <li>Furnitures</li>
                    <li>Arm Chair</li>
                    <li>Study Table</li>
                    <li>Plastic Chair</li>
                    <li>Web Address</li>
                    <li>More</li>
                </ul>
                <div class="nav__container__parnav__user">
                    <span></span><span></span><span></span
            ><span>Your Bag</span>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
    <!-- start sectionone -->
    <section class="sectionone">
        <div class="container">
            <div class="sectionone__container__responsive">
                <img src="../static/images/main-banner-1-1600x700.jpg" class="responsive" alt="main-banner-1-1600x700.jpg">
            </div>
            <div class="sectionone__container__bullets">
                <span></span><span></span>
            </div>
        </div>
    </section>
    <!-- end sectionone -->
    <!-- start sectiontwo -->
    <section class="sectiontwo pd-y">
        <div class="container">
            <h2 class="sectiontwo__container__heading">Special Category</h2>
            <span class="sectiontwo__container__line"></span>
            <div class="sectiontwo__container__items">
                <div class="sectiontwo__container__items__item">
                    <div class="sectiontwo__container__items__item__responsive">
                        <img src="../static/images/category-banner1.jpg" class="responsive sectiontwo__container__items__item__responsive__respo" alt="category-banner1.jpg" />
                    </div>
                    <span>Most Popular</span>
                    <h3>Classic Chair Collection</h3>
                </div>
                <div class="sectiontwo__container__items__item">
                    <div class="sectiontwo__container__items__item__responsive">
                        <img src="../static/images/category-banner2.jpg" class="responsive sectiontwo__container__items__item__responsive__respo" alt="category-banner2.jpg" />
                    </div>
                    <span>Most Popular</span>
                    <h3>Classic Chair Collection</h3>
                </div>
                <div class="sectiontwo__container__items__item">
                    <div class="sectiontwo__container__items__item__responsive">
                        <img src="../static/images/category-banner3.jpg" class="responsive sectiontwo__container__items__item__responsive__respo" alt="category-banner3.jpg" />
                    </div>
                    <span>Most Popular</span>
                    <h3>Classic Chair Collection</h3>
                </div>
                <div class="sectiontwo__container__items__item">
                    <div class="sectiontwo__container__items__item__responsive">
                        <img src="../static/images/category-banner4.jpg" class="responsive sectiontwo__container__items__item__responsive__respo" alt="category-banner4.jpg" />
                    </div>
                    <span>Most Popular</span>
                    <h3>Classic Chair Collection</h3>
                </div>
            </div>
            <div class="sectiontwo__container__bullets">
                <span></span><span></span>
            </div>
        </div>
    </section>
    <!-- end sectiontwo -->
    <!-- start sectionthree -->
    <section class="sectionthree">
        <div class="container">
            <div class="sectionthree__container__categories">
                <div class="sectionthree__container__categories__category color">
                    <div class="sectionthree__container__categories__category__side">
                        <div class="
                  sectionthree__container__categories__category__side__left
                ">
                            <span></span><span></span>
                        </div>
                        <div class="
                  sectionthree__container__categories__category__side__right
                ">
                            <h3>Luis Chairs</h3>
                            <span>Arm Designers</span>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, vel. adipisicing elit. Odit neque nisi, omnis odio dolore obcaecati distinctio doloribus sint quia quisquam.
                    </p>
                    <div class="sectionthree__container__categories__category__spans">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div class="sectionthree__container__categories__category">
                    <div class="sectionthree__container__categories__category__responsive">
                        <img src="../static/images/cms-banner-1.jpg" class="
                  responsive
                  sectionthree__container__categories__category__responsive__respo
                " alt="cms-banner-1.jpg" />
                        <div class="
                  sectionthree__container__categories__category__responsive__above
                ">
                            <span>Luis Chairs</span>
                            <h3>Arm Chairs</h3>
                        </div>
                    </div>
                </div>
                <div class="sectionthree__container__categories__category">
                    <div class="sectionthree__container__categories__category__responsive">
                        <img src="../static/images/cms-banner-2.jpg" class="
                  responsive
                  sectionthree__container__categories__category__responsive__respo
                " alt="cms-banner-2.jpg" />
                        <div class="
                  sectionthree__container__categories__category__responsive__above
                ">
                            <span>Luis Chairs</span>
                            <h3>Arm Chairs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionthree -->
    <!-- start sectionfour -->
    <section class="sectionfour center">
        <div class="container">
            <div class="sectionfour__container__products pd-y">
                <div class="sectionfour__container__products__product ">
                    <span class="sectionfour__container__products__product__icon"></span>
                    <h3>Free Delivery</h3>
                    <span>Free Product Collection</span>
                </div>
                <div class="sectionfour__container__products__product">
                    <span class="sectionfour__container__products__product__icon"></span>
                    <h3>Free Delivery</h3>
                    <span>Free Product Collection</span>
                </div>
                <div class="sectionfour__container__products__product">
                    <span class="sectionfour__container__products__product__icon"></span>
                    <h3>Free Delivery</h3>
                    <span>Free Product Collection</span>
                </div>
                <div class="sectionfour__container__products__product">
                    <span class="sectionfour__container__products__product__icon"></span>
                    <h3>Free Delivery</h3>
                    <span>Free Product Collection</span>
                </div>
                <div class="sectionfour__container__products__product">
                    <span class="sectionfour__container__products__product__icon"></span>
                    <h3>Free Delivery</h3>
                    <span>Free Product Collection</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionfour -->
    <!-- start sectionfive -->
    <section class="sectionfive">
        <div class="container">
            <h2 class="sectionfive__container__heading">Featured Products</h2>
            <span class="sectionfive__container__line"></span>
            <div class="sectionfive__container__spans">
                <span>Woodden Chair</span><span>Arm Chair</span
          ><span>Plastic Chair</span><span>Study Table</span>
            </div>
            <div class="sectionfive__container__offers">
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair1.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair1.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair2.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair2.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair3.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair3.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair4.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair4.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair5.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair5.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
                <div class="sectionfive__container__offers__offer">
                    <div class="sectionfive__container__offers__offer__responsive">
                        <img src="../static/images/chair6.jpg" class="responsive sectionfive__container__offers__offer__responsive__respo" alt="chair6.jpg" />
                    </div>
                    <div class="sectionfive__container__offers__offer__spans">
                        <span></span><span></span><span></span
              ><span></span><span></span>
                    </div>
                    <span>Luis chairs</span>
                    <h3>140.40 $</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionfive -->
    <!-- start sectionsix -->
    <section class="sectionsix pd-y">
        <div class="container">
            <div class="sectionsix__container__cards">
                <div class="sectionsix__container__cards__card play ">
                    <div class="sectionsix__container__cards__card__responsive">
                        <img src="../static/images/banner.PNG" class="responsive sectionsix__container__cards__card__responsive__respo" alt="banner.PNG" />
                    </div>
                    <div class="sectionsix__container__cards__card__responsivetwo">
                        <img src="../static/images/play.png" class="responsive sectionsix__container__cards__card__responsive__respo" alt="play.png" />
                    </div>
                </div>
                <div class="sectionsix__container__cards__card color">
                    <div class="sectionsix__container__cards__card__side">
                        <div class="sectionsix__container__cards__card__side__left">
                            <h2>78</h2>
                            <span>Luis Chairs</span>
                        </div>
                        <div class="sectionsix__container__cards__card__side__right">
                            Lorem ipsum dolor sit amet consectetur adipisicing.
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptates, deleniti vel, unde placeat minus expedita odit eveniet nesciunt et corrupti ut totam? Amet, quidem!
                    </p>
                    <div class="sectionsix__container__cards__card__spans">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end sectionsix -->
    <!-- start sectionseven -->
    <section class="sectionseven">
        <div class="container">
            <div class="sectionseven__container__prices">
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client1.png" alt="client1.png">
                    </div>
                </div>
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client2.png" alt="client2.png">
                    </div>
                </div>
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client3.png" alt="client3.png">
                    </div>
                </div>
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client4.png" alt="client4.png">
                    </div>
                </div>
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client5.png" alt="client5.png">
                    </div>
                </div>
                <div class="sectionseven__container__prices__price">
                    <div class="sectionseven__container__prices__price__responsive">
                        <img src="../static/images/client6.png" alt="client6.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end sectionseven -->
    <!-- start footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__container__parfooter">
                <div class="footer__container__parfooter__foots">
                    <div class="footer__container__parfooter__foots__responsive">
                        <img src="../static/images/footer-logo.png" class="responsive footer__container__parfooter__foots__responsive__respo" alt="footer-logo.png">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa <br/>, iure? Facilis eligendi dolores <br/> sit amet consectetur adipisicing elit. Culpa, iure? <br/> Facilis eligendi dolores hic vero!</p>
                    <div class="footer__container__parfooter__foots__side">
                        <div class="footer__container__parfooter__foots__side__responsive">

                            <img src="../static/images/cms-footer-1.png" alt="cms-footer-1.png">
                        </div>
                        <div class="footer__container__parfooter__foots__side__responsive">
                            <img src="../static/images/cms-footer-2.png" alt="cms-footer-2.png">
                        </div>
                    </div>
                </div>
                <div class="footer__container__parfooter__foots">
                    <h3>Information</h3>
                    <ul>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__container__parfooter__foots">
                    <h3>My Account</h3>
                    <ul>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__container__parfooter__foots">
                    <h3>Subscribe Now</h3>
                    <div class="footer__container__parfooter__foots__input">
                        <input type="text" placeholder="Srarch">
                    </div>
                    <div class="footer__container__parfooter__foots__spans">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

</body>

</html>

</html>